@import '../utils/variables';


.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: $primary-color;
    color: $letter-color;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   
        &parrafo {
            font-family: $font-family-general;
            letter-spacing: 5px;
            margin-left: 20px;
    }
  }

