@import '../utils/mixins';

.containers {
    @include formulario;
    margin-top: 50px;
    margin-left: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    &li {
        margin-bottom: 30px;
    }
}

.bucle {
    margin-bottom: 70px;
}

.final {
    position: relative;
    left: 80px;
    top: 30px;
    @include btn;
    color: red;
}

.btnews {
    position: relative;
    left: 10px;
    @include btn;
}

.inputnews {
    @include inputs;
}